/* 
    Document   : addMeasurForm
    Created on : Sep 27, 2013, 1:04:38 PM
    Author     : sotiris
    Description:
        Purpose of the stylesheet follows.
*/




#addElementForm {
    font-size: 16px;
    position: relative;
    display: block;
    width: 30%;
    height: 100%;
    left: 35%;
    top: 180px;
    z-index: 2;
    background: #fff;
    padding: 25px 20px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#formElement {
    font-size: 16px;
    //position: relative;
    display: block;
    width: 50%;
    height: 100%;
    //left: 23%;
    margin-left: 23%;
    //top: 180px;
    margin-top: 4%;
    z-index: 2;
    background: #fff;
    padding: 25px 20px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.formField {
    //position: relative;
    //height: 25px;
    margin-top: 5%;
    //float: right;
    padding-bottom: 7px;
    display: inline-block;
    width: 100%;
}

.formTd {
    text-align: left !important;
    border-bottom: 1px solid #ccc;
}

tr.searchFormRow {
    border-collapse:separate; 
    border-spacing:5em; 
}

.mapsAnchorItem {
    position: relative;
    float:left;
    padding-left: 17%;
}

#mapAnchor {
    cursor: pointer;
    vertical-align: middle;
}

#formFieldsSeperator {
    width: 170%;
    display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    padding: 3px;
}

#formFieldsSeperatorOnNewMeasurement{
    width: 137%;
    display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    padding: 3px;
}

.formFieldWithUsers {
    width: 65%;
    height: 130%;
    float: right;
    padding-bottom: 5%;
}

.newMeasurementsInputFormFields {
    padding-left: 0px;
    width: 30%;
}

label, select {
    vertical-align: middle;
}

.tablediv {
    position: relative;
    width: 100%!important;
    //top: -15px;
    margin-top: -15px;
    //left: 25%;
    z-index: 2;
}

.tablediv td {
    text-align: right;
    white-space: nowrap;
}

span.datebox {
    float: center;
}

#newMeasurementForm {
    width: 130%;
}

div.formHeader{
    position: relative;
    top: 140px;
    left: 120px;
    width: 80%;
    border-bottom: solid 1px #999 ;
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
}

.formAtr {
    border-radius: 4px;
    width: 200px;
}

#flip {
    border-radius: 4px;
}

#panel,#flip {
    padding:5px;
    text-align:center;
    background-color:#e5eecc;
    border:solid 1px #a4d04a;
    
}
#panel {
    padding:50px;
    display:none;
    width: 30%;
    left: 70%;
}

#usernames {
    width: 62%;
    height: 60px;
    border: 1px solid #CCC; background: #ffc; border-radius: 0px;  padding-right: 10px;
    /* margin-bottom: 7%; */
}

.formErrors {
    color: red;
    background-color: #ffEEEE;
    padding: 1px;
    margin-left: 25px;
    border-radius: 8px;
        
}

#messages {
    position: relative;
    top: 150px;
    left: 35%;
    width: 23%;
    border-bottom: solid 1px #999 ;
    font-size: 14px;
    border-radius: 4px;
    z-index: 2;
}

#areaToDisplayMessages {
    //position: relative;
    //top: 150px;
    margin-top: 3%;
    //left: 9%;
    margin-left:9%;
    width: 76%;
    border-bottom: solid 1px #999 ;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 20px;
    z-index: 2;
}

#addUserForm> table td + td {
    padding-left: 15px;
}

#userNameLi {
    position: relative;
    padding-right: 10px;
    text-align:right;
}

.liData {
    width: 70%;
    padding: 10px;
}

.userRightsSelect {
    height: 20px;
}

#measurementsDetailsForm {
    font-size: 16px;
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    left: 23%;
    top: 180px;
    z-index: 2;
    background: #fff;
    padding: 25px 20px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}