/* 
    Document   : userpage
    Created on : Jul 29, 2013, 2:57:11 PM
    Author     : wolverine
    Description:
        Purpose of the stylesheet follows.


 */


    body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin: 0;
        padding: 0;

        color: #4E4E4E;
        line-height: 1; 
        
        background: repeat #f0f0f0;		
    } 
    
    /******Header*****/
    
    .headerArea {
        width:100%;
        margin:auto;
        top: 0;
        height: 150px;
    }

    #header {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 110px;
        color: #fff;
        background: repeat #1b1b1b;
    }
    

    .menuBar ul {
        top: 111px;
        list-style-type:none;
        width:auto;
        position:relative;
        display:block;
        height:39px;
        background:url(bg1.png) repeat-x top left;
        font-family:Verdana,Helvetica,Arial,sans-serif;
        border:1px solid #000;
        margin:0;
        padding:0;
        margin-top: 1px;
    }
    
    .menuBar li {
        display:block;

        margin:0;
        padding:0;
    }

    .options {
        float:left;
        color:#C3EE83;
        text-decoration:none;
        height:24px;
        padding:9px 15px 0;
        text-align:center;
        font-size: 14px;
        font-weight:bold;
        text-align:center;
        border-right: solid 1px  #999;
        border-radius: 2px;
        cursor: pointer;
    }
    
    .logout {
        float:right;
        right: 10px;
        color: #C3EE83;
        text-decoration:none;
        height:24px;
        padding:9px 15px 0;
        font-weight:normal;
        text-align:center;
        font-size: 14px;
        font-weight:bold;
        cursor: pointer;
    }

    .menuBar li a:hover, .menuBar .active {
        color:#fff;
        background:url(bg1.png) repeat-x top left;
        text-decoration:none;
        text-align:center;
    }

    .menuBar .active a {
        color:#fff;
        font-weight:700;
    }
    .menuBar ul{
        background-color:#629600;
    }

    .image {
        height: 25px;
    }
    
    /*******Footer********/
    .footerArea {
        position: absolute;
        width: 100%;
        height: 6%;
        float:bottom;
        left: 0;
        color: #fff;
        background: linear-gradient(to bottom, #a4d04a, #459300);
        z-index: 2;
        margin-top: 20px;
    }

    /*******Body area*******/
    
    .bodyArea {
        width:100%;
        height: auto;
        margin: auto;
    }
    
    .usermsg {
        position: absolute;
        top: 55px;
        right: 15px;
        font-weight:bold;
    }



    #content {
      display: block;
      position: relative;
      top: 145px;
      left: 120px;
      width: 80%;
      background: #fff;
      //padding: 25px 20px;
      padding-bottom: 35px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
      -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    }


    /* modal windows css */

    #lean_overlay {
        position: fixed;
        z-index:100;
        top: 0px;
        left: 0px;
        height:100%;
        width:100%;
        background: #000;
        display: none;
    }


    #configureModal {
      width: 350px;
      padding: 15px 20px;
      background: #f0f0f0;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    }

    .configureModal { /* no default styles */ }

    .configureModal label { display: block; font-size: 1.1em; font-weight: bold; color: #7c8291; margin-bottom: 3px; }


    input.button {
        padding: 6px 10px;
        color: #fff;
        width: 80px;
        font-size: 14px;
        background: linear-gradient(to bottom, #a4d04a, #459300);
        //background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a4d04a), to(#459300));
        text-shadow: #050505 0 -1px 0;
        background-color: #459300;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border: solid 1px transparent;
        font-weight: bold;
        cursor: pointer;
        letter-spacing: 1px;
        text-align:center;
    }

    input.button:hover {
        background: linear-gradient(to bottom, #B8E261, #B7E753);
        //background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B8E261), to(#B7E753), color-stop(80%, #A0D658));
        text-shadow: #050505 0 -1px 2px;
        background-color: #a4d04a;
        color: #fff;
    }

    div.mainbodyHeader {
        //position: relative;
        //top: 100px;
        //left: 120px;
        width: 80%;
        border-bottom: solid 1px #999 ;
        font-size: 20px;
        font-weight: bold;
        margin-left: 9%;
        margin-top: 8%;
        //z-index: 2;
    }

    .inputField {
        border: 1px solid #CCC;
        background: #ffc;
        border-radius: 0px;

        width: 150px;
        padding-right: 10px;
        /* margin-right: 3%; */
    }

    .inputField:focus { 
         outline: none;
         border-color: #46AD46;
         box-shadow: 0 0 10px #46AD46;

    }
    
    .combo .combo-text {
        background: #ffc;
        border-radius: 4px;
    }
    
    .datelabel {
        margin-left: 10px;
    }

    /* Mandatory sign/field css */

    span.mandatorySign {
        color: red;
    }

    div.madatoryMessage {
        border-bottom: solid 1px #1b1b1b;
        border-left-width: 0px;
        border-right-width: 0px;
        border-top-width: 0px;
        padding-top: 10px;
    }

    table {
        display: table;
        border-collapse: separate;
        border-spacing: 2px;
        border-color: gray;
    }

    .datagrid-row-selected {
        background: none repeat scroll 0 0 #dae1e8;
        color: #283644;
    }
    
    
    .info, .success, .warning, .error, .validation {
        border: 1px solid;
        margin: 10px 0px;
        padding:15px 10px 15px 50px;
        background-repeat: no-repeat;
        background-position: 10px center;
    }
    
    .success {
        color: #4F8A10;
        background-color: #DFF2BF;
        background-image:url('../img/successMessage.png');
    }
    .warning {
        color: #9F6000;
        background-color: #FEEFB3;
        background-image: url('../img/warning-icon.png');
    }
    .error {
        color:#555;
        background-color: #FFBABA;
        background-image: url('../img/errorMessage.png');
    }
    
    .datebox {
        //float: left;
    }
    

    .modal_close {
        position: absolute;
        top: 12px;
        right: 12px;
        display: block;
        width: 14px;
        height: 14px;
        background: url(../img/modal_close.png);
        z-index: 2;
    }
            
       
