/* 
    Document   : userpage
    Created on : Jul 31, 2013, 7:00:56 PM
    Author     : wolverine
    Description:
        Purpose of the stylesheet follows.
*/  
           
    .searchField {
        position: relative;
        width: 50%;
        top: 150px;
        left: 120px;
        z-index: 2;
    }

    #searchUserForm {
        font-size: 16px;
        //position: relative;
        display: block;
        width: 67%;
        //left: 15%;
        margin-left: 15%;
        //top: 180px;
        margin-top: 1%;
        height: 100px;
        z-index: 2;
        background: #fff;
        padding: 25px 20px;
        padding-bottom: 35px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
        -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    }

    #searchMeasurementsForm {
        font-size: 16px;
        //position: relative;
        display: block;
        width: 70%;
        //left:13%;
        margin-left: 13%;
        //top: 180px;
        margin-top: 4%;
        height: 200px;
        z-index: 2;
        background: #fff;
        padding: 25px 20px;
        padding-bottom: 35px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
        -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    }
    
    .datagridLayer {
        display: block;
        //position: relative;
        //top: 220px;
        margin-top: 5%;
        margin-bottom: 5%;
        //left: 13%;
        margin-left: 13%;
        text-decoration:none;
        text-align: center;
        border-radius: 4px;
        border: solid 1px;
        width: 73%;
        height: auto;
        z-index: 2;

    }
    
    .measurementsDatagridLayer {
        display: block;
        position: relative;
        top: 220px;
        left: 15%;
        height: 100%;
        text-decoration:none;
        text-align: center;
        border-radius: 4px;
        border: solid 1px;
        width: 70%;
        height: auto;
        z-index: 2;
    }

    .sectionButtons {
        display: block;
        //position: relative;
        //top: 220px;
        margin-top: 2%;
        z-index: 2;
        text-align: right;
        padding-right: 11%;
    }
    
    .measurementImagesButtons {
        display: block;
        //position: relative;
        //top: 280px;
        margin-top: 2%;
        z-index: 2;
        text-align: right;
        padding-right: 11%;
    }
    
    .measurementDataButtons {
        display: block;
        position: relative;
        top: 320px;
        z-index: 2;
        text-align: right;
        padding-right: 11%;
    }
    
    .placeImagesButtons {
        display: block;
        position: relative;
        top: 220px;
        z-index: 2;
        text-align: right;
        padding-right: 11%;
    }
    
    .measurementDetailsDatagridLayer {
        display: block;
        //position: relative;
        //top: 230px;
        margin-top: 1%;
        //left: 23%;
        margin-left: 23%;
        height: 100%;
        text-decoration:none;
        text-align: center;
        border-radius: 4px;
        border: solid 1px;
        width: 53%;
        height: auto;
        z-index: 2;
    }
    
    .measurementPlacesDG {
        top: 290px;
    }
    
    .measurementDocsDG {
        top: 350px;
    }
    
    div.sectionHeaders {
        //position: relative;
        //top: 210px;
        margin-top: 3%;
        //left: 120px;
        margin-left: 120px;
        width: 80%;
        border-bottom: solid 1px #999 ;
        font-size: 20px;
        font-weight: bold;
        z-index: 2;
        display: inline-block;
    }
    
    div.measurementPlacesSection {
        //position: relative;
        //top: 270px;
        margin-top: 3%;
        //left: 120px;
        margin-left: 120px;
        width: 80%;
        border-bottom: solid 1px #999 ;
        font-size: 20px;
        font-weight: bold;
        z-index: 2;
        display: inline-block;
    }
    
    div.measurementDataSection {
        position: relative;
        top: 310px;
        left: 120px;
        width: 80%;
        border-bottom: solid 1px #999 ;
        font-size: 20px;
        font-weight: bold;
        z-index: 2;
        display: inline-block;
    }

    .userStatus {
        cursor:pointer;
        text-decoration:underline;
        color: #748A53;
    }
    
    div.picturesSection {
        position: relative;
        top: 210px;
        left: 120px;
        width: 80%;
        border-bottom: solid 1px #999 ;
        font-size: 20px;
        font-weight: bold;
        z-index: 2;
        display: inline-block;
    }
    
    .deleteImageArea {
        //position: relative;
        //top: 2%;
        //left: 10%;
        height: 50%;
        //text-decoration:none;
        //margin-right: 10px;
        text-align: center;
        border-radius: 4px;
        border: solid 1px;
        width: 150px;
        z-index: 2;
        margin-bottom: 95%;
    }
    
    
    table.picturesTable {
        position: relative;
         left: 15%;
    }
    
    div.displayPicturesSpot {
        width: 100%
    }
    
    .imageDisplayArea {
        position: relative;
        top: 0px;
        margin-bottom: 150px;
        //left: 25%;
        height: 50%;
        text-decoration:none;
        text-align: center;
        border-radius: 4px;
        border: solid 1px;
        width: 50%;
        z-index: 2;
    }
    
    .returnButtonArea {
        position: relative;
        bottom: 5px;
        left: 10%;
        height: auto;
        margin-right: 10px;
        margin-bottom: 15px;
        height: auto;
        width:50%;
        z-index: 2;
    }


    /******************************************************************************/

    table a {
        text-decoration:none;
        color: #060;
    }

    table.measTable th {
        border-bottom:  solid 1px;
        background:  #ccc;
    }

    .tabletd {
        background:  #ccf;
    }

    table.adminUsersTable th {
        border-bottom:  solid 1px;
        background:  #ccc;
    }

    .searchInput {
        border-radius: 4px;
        width: 20%;
     }
     
    #measurementUserRightLinkId {
         cursor: pointer;
     }
     
     .cursorPointer {
         cursor: pointer;
     }


    /***************************    Modal Window    ****************************/

     .dialog{
         width: 400px;
         position: fixed;
         top: -250px;
         left: 36%;
         z-index: 2;
         //padding: 15px 20px;
         background: #ffffff;
         -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
         border-radius: 6px;
         -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
         -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
         box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
         display:none; 
     }
     .dialog label { display: block;  color: #7c8291; margin-bottom: 3px; }

     input[type=text] {
       border:1px solid #CCC;
       border-radius: 0px;
     }
     
     form#searchMeasurements input {
        float: left;
    }
    
    form#searchMeasurements label {
        float: left;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .formRow {
        float: left;
        margin-bottom: 20px;
    }
    
    .formButtons {
        float: left;
        clear: left;
        margin-left: 10px;
        margin-top: 10px;
    }
    .formButtons input[type=button]{
        margin-right: 10px;
        
    }

    #lean_overlay {
         position: fixed;
         z-index:100;
         top: 0px;
         left: 0px;
         height:100%;
         width:100%;
         background: #000;
         display: none;
     }

     #modaleHeader {
         background: url(modalHeader.png);
         padding: 18px 18px 14px 18px;
         border-bottom: 1px solid #CCC;
         -webkit-border-top-left-radius: 5px;
         border-top-right-radius: 5px;
         -moz-border-radius-topright: 5px;
         -webkit-border-top-right-radius: 5px;
         display: block;
     }

     .modal_fields {
         position: relative;
         padding: 14px 20px;
         border-bottom: 1px solid #EEE;
         text-align: left;
     }

     div.errorDisp {
         position: relative;
         text-align: left;
         padding: 14px 20px;
         left: 10%;
         width: 70%;
         background:  #ff9494;
         -moz-border-radius: 8px;
         -webkit-border-radius: 8px;
         border-radius: 8px;
         border: solid  1px  red;
         margin: 6px 0;
     }
     
     #usersSearchForm {
         width: 90%; 
        padding-top: 20px;
        padding-left: 30px;
     }
     
     #addNewMeasurementUsersModal {
         width: 65%;
         height: 70%;
     }
            
            
            
